In [146]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [147]:
data = pd.read_csv("C:\DCU\Projects\Telco_customer_churn.csv")
data.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [148]:
data.shape

(7043, 21)

In [149]:
cat = data.select_dtypes(['object'])
cat

,customerID,gender,Partner,Dependents,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,TotalCharges,Churn
0,7590-VHVEG,Female,Yes,No,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,No
1,5575-GNVDE,Male,No,No,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,1889.5,No
2,3668-QPYBK,Male,No,No,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,108.15,Yes
3,7795-CFOCW,Male,No,No,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),1840.75,No
4,9237-HQITU,Female,No,No,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,6840-RESVB,Male,Yes,Yes,Yes,Yes,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,Yes,Mailed check,1990.5,No
7039,2234-XADUH,Female,Yes,Yes,Yes,Yes,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Credit card (automatic),7362.9,No
7040,4801-JZAZL,Female,Yes,Yes,No,No phone service,DSL,Yes,No,No,No,No,No,Month-to-month,Yes,Electronic check,346.45,No
7041,8361-LTMKD,Male,Yes,No,Yes,Yes,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Mailed check,306.6,Yes
7042,3186-AJIEK,Male,No,No,Yes,No,Fiber optic,Yes,No,Yes,Yes,Yes,Yes,Two year,Yes,Bank transfer (automatic),6844.5,No

In [150]:
i = 1
for i in cat.columns:
    print(i,data[i].nunique())

customerID 7043
gender 2
Partner 2
Dependents 2
PhoneService 2
MultipleLines 3
InternetService 3
OnlineSecurity 3
OnlineBackup 3
DeviceProtection 3
TechSupport 3
StreamingTV 3
StreamingMovies 3
Contract 3
PaperlessBilling 2
PaymentMethod 4
TotalCharges 6531
Churn 2

In [151]:
cat.isnull().sum()

customerID          0
gender              0
Partner             0
Dependents          0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
TotalCharges        0
Churn               0
dtype: int64

In [152]:
data.drop('customerID',axis = 1,inplace = True)

In [153]:
from sklearn.preprocessing import OneHotEncoder

cat_columns = [
    'gender',              
    'Partner',             
    'Dependents',        
    'PhoneService',        
    'MultipleLines',       
    'InternetService',     
    'OnlineSecurity',      
    'OnlineBackup',        
    'DeviceProtection',    
    'TechSupport',         
    'StreamingTV',    
    'StreamingMovies',     
    'Contract',            
    'PaperlessBilling',    
    'PaymentMethod',       
    'Churn'               
]

In [154]:
num_columns = [c for c in data.columns if c not in cat_columns]

In [155]:
print(num_columns)

['SeniorCitizen', 'tenure', 'MonthlyCharges', 'TotalCharges']

In [156]:
data_encoded = pd.get_dummies(data[cat_columns],drop_first = True)

In [157]:
data_encoded.head()

,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,InternetService_No,OnlineSecurity_No internet service,OnlineSecurity_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1,1,0,0,1,0,0,0,0,0,1,...,0,0,0,1,0,0,0,0,1,0
2,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,1,1
3,1,0,0,0,1,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
4,0,0,0,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,1,0,1

In [158]:
data_final = pd.concat([data[num_columns],data_encoded],axis = 1)

In [159]:
data_final.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.5,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1

In [160]:
data_final['TotalCharges'] = data_final['TotalCharges'].replace(' ', np.nan)
data_final['TotalCharges'] = pd.to_numeric(data_final['TotalCharges'], errors='coerce')

corr = data_final.corr(numeric_only = True,method = 'pearson')
corr['Churn_Yes'].sort_values(ascending = False)

Churn_Yes                                1.000000
InternetService_Fiber optic              0.308020
PaymentMethod_Electronic check           0.301919
MonthlyCharges                           0.193356
PaperlessBilling_Yes                     0.191825
SeniorCitizen                            0.150889
StreamingTV_Yes                          0.063228
StreamingMovies_Yes                      0.061382
MultipleLines_Yes                        0.040102
PhoneService_Yes                         0.011942
gender_Male                             -0.008612
MultipleLines_No phone service          -0.011942
DeviceProtection_Yes                    -0.066160
OnlineBackup_Yes                        -0.082255
PaymentMethod_Mailed check              -0.091683
PaymentMethod_Credit card (automatic)   -0.134302
Partner_Yes                             -0.150448
Dependents_Yes                          -0.164221
TechSupport_Yes                         -0.164674
OnlineSecurity_Yes                      -0.171226
Contract_One year                       -0.177820
TotalCharges                            -0.199484
DeviceProtection_No internet service    -0.227890
StreamingTV_No internet service         -0.227890
StreamingMovies_No internet service     -0.227890
OnlineBackup_No internet service        -0.227890
OnlineSecurity_No internet service      -0.227890
InternetService_No                      -0.227890
TechSupport_No internet service         -0.227890
Contract_Two year                       -0.302253
tenure                                  -0.352229
Name: Churn_Yes, dtype: float64

In [161]:
print(data_final['TotalCharges'].dtype)

float64

In [162]:
data_final.shape

(7043, 31)

In [113]:
from sklearn.model_selection import train_test_split

X = data_final.drop('Churn_Yes',axis = 1)
y = data_final['Churn_Yes']

X_train,X_test,y_train,y_test = train_test_split(
    X,y,
    test_size = 0.2,
    random_state = 42,
    stratify = y,
)

In [114]:
X_train

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_No internet service,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
3738,0,35,49.20,1701.65,1,0,0,0,1,0,...,0,1,0,1,0,0,0,0,1,0
3151,0,15,75.10,1151.55,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,1
4860,0,13,40.55,590.35,1,1,1,0,1,0,...,0,0,0,0,0,1,0,0,0,1
3867,0,26,73.50,1905.70,0,1,0,1,0,0,...,0,1,0,1,0,1,1,1,0,0
3810,0,1,44.55,44.55,1,1,1,1,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6303,0,71,109.25,7707.70,0,1,0,1,0,1,...,0,1,0,1,0,1,0,0,1,0
6227,0,2,46.05,80.35,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4673,1,25,102.80,2660.20,0,0,0,1,0,1,...,0,1,0,1,0,0,1,0,0,1
2710,0,24,20.40,482.80,0,1,0,1,0,0,...,1,0,1,0,1,0,0,1,0,0
5639,0,6,20.65,109.30,1,0,0,1,0,0,...,1,0,1,0,0,0,0,0,0,1

In [115]:
X_train.isna().sum().sort_values(ascending=False).head(10)

TotalCharges                             8
SeniorCitizen                            0
DeviceProtection_No internet service     0
PaymentMethod_Electronic check           0
PaymentMethod_Credit card (automatic)    0
PaperlessBilling_Yes                     0
Contract_Two year                        0
Contract_One year                        0
StreamingMovies_Yes                      0
StreamingMovies_No internet service      0
dtype: int64

In [116]:
mask = X_train.notna().all(axis = 1)
X_train_clean = X_train[mask]
y_train_clean = y_train[mask]

In [117]:
X_train_clean.isna().sum().sort_values(ascending=False).head(10)

SeniorCitizen                            0
tenure                                   0
PaymentMethod_Electronic check           0
PaymentMethod_Credit card (automatic)    0
PaperlessBilling_Yes                     0
Contract_Two year                        0
Contract_One year                        0
StreamingMovies_Yes                      0
StreamingMovies_No internet service      0
StreamingTV_Yes                          0
dtype: int64

In [118]:
X_test.isna().sum().sort_values(ascending = False).head(10)

TotalCharges                             3
SeniorCitizen                            0
DeviceProtection_No internet service     0
PaymentMethod_Electronic check           0
PaymentMethod_Credit card (automatic)    0
PaperlessBilling_Yes                     0
Contract_Two year                        0
Contract_One year                        0
StreamingMovies_Yes                      0
StreamingMovies_No internet service      0
dtype: int64

In [119]:
maskx = X_test.notna().all(axis = 1)
X_test_clean = X_test[maskx]
y_test_clean = y_test[maskx]

In [120]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,classification_report,confusion_matrix
model_rf = RandomForestClassifier()
model_rf.fit(X_train_clean,y_train_clean)
y_pred = model_rf.predict(X_test_clean)

In [121]:
y_train_pred = model_rf.predict(X_train_clean)

In [122]:
train_acc = accuracy_score(y_train_clean,y_train_pred)
print(f"Accuracy for Training:{train_acc}")

Accuracy for Training:0.9980447920369712

In [123]:
test_acc = accuracy_score(y_test_clean,y_pred)
print(f"Accuracy for Testing:{test_acc}")

Accuracy for Testing:0.7880512091038406

The Accuracy for testing will be out first cut model prediction

In [124]:
conf_mat = confusion_matrix(y_test_clean,y_pred,labels = [0,1])
conf_mat

array([[920, 112],
       [186, 188]], dtype=int64)

TN (True Negative): Model predicted no churn and the customer actually did not churn.

TP (True Positive): Model predicted churn and the customer actually did churn.

FP (False Positive): Model predicted churn but customer actually did not churn (a “false alarm”).

FN (False Negative): Model predicted no churn but customer actually did churn (a “miss”).

In [125]:
class_report = classification_report(y_test_clean,y_pred)
print(class_report)

              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1032
           1       0.63      0.50      0.56       374

    accuracy                           0.79      1406
   macro avg       0.73      0.70      0.71      1406
weighted avg       0.78      0.79      0.78      1406

In [126]:
feature_imp = model_rf.feature_importances_
feat_imp = pd.Series(feature_imp,index = X_train_clean.columns).sort_values(ascending = False)
feat_imp

TotalCharges                             0.194725
tenure                                   0.173169
MonthlyCharges                           0.166632
InternetService_Fiber optic              0.040213
PaymentMethod_Electronic check           0.037096
Contract_Two year                        0.028809
gender_Male                              0.028074
OnlineSecurity_Yes                       0.027613
PaperlessBilling_Yes                     0.026317
TechSupport_Yes                          0.023963
Partner_Yes                              0.023303
OnlineBackup_Yes                         0.021688
Contract_One year                        0.021482
MultipleLines_Yes                        0.020929
SeniorCitizen                            0.019943
DeviceProtection_Yes                     0.019780
Dependents_Yes                           0.019544
StreamingMovies_Yes                      0.018175
StreamingTV_Yes                          0.016820
PaymentMethod_Credit card (automatic)    0.014435
PaymentMethod_Mailed check               0.011648
TechSupport_No internet service          0.007304
OnlineBackup_No internet service         0.006464
StreamingMovies_No internet service      0.006443
StreamingTV_No internet service          0.004981
OnlineSecurity_No internet service       0.004957
PhoneService_Yes                         0.004478
MultipleLines_No phone service           0.003948
DeviceProtection_No internet service     0.003743
InternetService_No                       0.003324
dtype: float64

In [127]:
feat_imp.sum()

1.0

In [163]:
data_final.head()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1

In [164]:
data_final.copy()

,SeniorCitizen,tenure,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,29.85,0,1,0,0,1,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1889.50,1,0,0,1,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,108.15,1,0,0,1,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1840.75,1,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,151.65,0,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,24,84.80,1990.50,1,1,1,1,0,1,...,1,0,1,1,0,1,0,0,1,0
7039,0,72,103.20,7362.90,0,1,1,1,0,1,...,1,0,1,1,0,1,1,0,0,0
7040,0,11,29.60,346.45,0,1,1,0,1,0,...,0,0,0,0,0,1,0,1,0,0
7041,1,4,74.40,306.60,1,1,0,1,0,1,...,0,0,0,0,0,1,0,0,1,1
7042,0,66,105.65,6844.50,1,0,0,1,0,0,...,1,0,1,0,1,1,0,0,0,0

In [193]:
data_final_compare_tenure = data_final.drop(columns = 'tenure',axis = 1)
data_final_compare_tenure.head()

,SeniorCitizen,MonthlyCharges,TotalCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,29.85,29.85,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,56.95,1889.50,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,53.85,108.15,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,42.30,1840.75,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,70.70,151.65,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,1,0,1

In [194]:
X = data_final_compare_tenure.drop('Churn_Yes',axis = 1)
y = data_final_compare_tenure['Churn_Yes']

In [195]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,
                                                 random_state = 42,
                                                 stratify = y)

In [196]:
mask = X_train.notna().all(axis = 1)
X_train_clean = X_train[mask]
y_train_clean = y_train[mask]

In [197]:
maskx = X_test.notna().all(axis = 1)
X_test_clean = X_test[maskx]
y_test_clean = y_test[maskx]

In [198]:
model_rf = RandomForestClassifier()
model_rf = RandomForestClassifier()
model_rf.fit(X_train_clean,y_train_clean)
y_pred = model_rf.predict(X_test_clean)

In [199]:
y_pred_train = model_rf.predict(X_train_clean)

In [200]:
acc_train = accuracy_score(y_train_clean,y_train_pred)
print(f"Accuracy for training:{acc_train}")

Accuracy for training:0.9980447920369712

In [201]:
acc_test = accuracy_score(y_test_clean,y_pred)
print(f"Accuracy for testing:{acc_test}")

Accuracy for testing:0.7837837837837838

In [202]:
report = classification_report(y_test_clean,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.83      0.89      0.86      1032
           1       0.62      0.48      0.54       374

    accuracy                           0.78      1406
   macro avg       0.72      0.69      0.70      1406
weighted avg       0.77      0.78      0.77      1406

In [178]:
data_final_compare_totalcharges = data_final.drop(columns = 'TotalCharges',axis = 1)
data_final_compare_totalcharges.head()

,SeniorCitizen,tenure,MonthlyCharges,gender_Male,Partner_Yes,Dependents_Yes,PhoneService_Yes,MultipleLines_No phone service,MultipleLines_Yes,InternetService_Fiber optic,...,StreamingTV_Yes,StreamingMovies_No internet service,StreamingMovies_Yes,Contract_One year,Contract_Two year,PaperlessBilling_Yes,PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check,Churn_Yes
0,0,1,29.85,0,1,0,0,1,0,0,...,0,0,0,0,0,1,0,1,0,0
1,0,34,56.95,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,1,0
2,0,2,53.85,1,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,1,1
3,0,45,42.30,1,0,0,0,1,0,0,...,0,0,0,1,0,0,0,0,0,0
4,0,2,70.70,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,1,0,1

In [179]:
X = data_final_compare_totalcharges.drop('Churn_Yes',axis = 1)
y = data_final_compare_totalcharges['Churn_Yes']

In [180]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.2,
                                                 random_state = 42,
                                                 stratify = y)

In [186]:
mask = X_train.notna().all(axis = 1)
X_train_clean = X_train[mask]
y_train_clean = y_train[mask]

In [187]:
maskx = X_test.notna().all(axis = 1)
X_test_clean = X_test[maskx]
y_test_clean = y_test[maskx]

In [188]:
model_rf = RandomForestClassifier()
model_rf.fit(X_train_clean,y_train_clean)
y_pred = model_rf.predict(X_test_clean)

In [189]:
y_pred_train = model_rf.predict(X_train_clean)

In [191]:
acc_test = accuracy_score(y_test_clean,y_pred)
print(f"Accuracy for testing:{acc_test}")

Accuracy for testing:0.7828246983676366

In [192]:
report = classification_report(y_test_clean,y_pred)
print(report)

              precision    recall  f1-score   support

           0       0.83      0.88      0.86      1035
           1       0.61      0.50      0.55       374

    accuracy                           0.78      1409
   macro avg       0.72      0.69      0.70      1409
weighted avg       0.77      0.78      0.78      1409